.list-card-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas por defecto */
    gap: 10px;
    grid-auto-rows: 300px;
   /*  background-color: rgba(30, 199, 143, 0.906); */
    
}