.nav-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    border: 1.3px solid black;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

/* .nav-icon-container:hover{
    cursor: pointer;
} */

.nav-icon-container img{
    height: 60%;
    
    /* border: 2px solid blue; */
    /* width: 50%; */
}

.selected-icon{
    /* background-color: #d99d29; */
    background-color: var(--clr-green);
    border: none;
}