.card-sr-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* border: 2px solid gray; */
    cursor: pointer;
    transition: 0.30s;
}
/* .card-sr-container:hover{
    transform: scale(1.05);
} */
.card-sr-container:hover .book-img{
    box-shadow:  -19px 9px 26px -12px rgba(43, 43, 43, 0.863);
}

.book-img-sr-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    /* background-color: green; */
}

.book-sr-img{
    height: 90%;
    max-width: 75%;
    border-radius: 4px;
    box-shadow: -19px 10px 21px -10px rgba(43, 43, 43, 0.863);
    transition: 0.30s;
    /* border: 2px solid red; */
}

.book-title-sr-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 75%;
    /* width: auto; */
    color: black;
    overflow: hidden;
    /* border: 1px solid rgba(128, 99, 99, 0.945); */
    
}
.book-sr-title{
    font-size: 15px;
    font-family: "Fira Sans", "Exo 2";
    font-weight: 400;
    text-align: center;
    height: 100%;
}

.book-sr-title:hover{
    color: var(--clr-green);
    color: #818383;
}

.save-book-icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 31px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    border: 0.8px solid black;
}
.book-mark-img-sr{
    height: 50%;
}
